---
layout: default
title: GOV.UK Applications &amp; development
---

<div class='navigation'>
  <strong>Applications &amp; development</strong> | 
  <a href='operations.html'>Operations</a>
</div>

<div class='grid-row'>
  {% for column in site.data.content.applications.columns %}
    <div class='column-third'>
      <h2>{{ column.name }}</h2>

      {% for section in column.sections %}
        <h3>{{ section.name }}</h3>

        {% for entry in section.entries %}
          <div class='entry'>
            <a href='{{ entry.url }}'>{{ entry.name }}</a>
            <small>{{ entry.description }}</small>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
