<% content_for :title, create_page_title(data.analytics.navigation.attributes.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.attributes.name %>
</h1>

<p class="govuk-body">
  <%= data.analytics.navigation.attributes.desc %>
</p>

<ul class="govuk-list govuk-list--bullet">
  <% attributes = data.analytics.attributes.sort_by { |e| e[:name] } %>
  <% attributes.each do |attribute| %>
    <li>
      <a href="attribute_<%= urlize(attribute['name']) %>.html" class="govuk-link">
        <%= attribute.name %>
      </a>
    </li>
  <% end %>
</ul>
