<% content_for :title, create_page_title(data.analytics.navigation.data.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.data.name %>
</h1>

<p class="govuk-body">This section contains details of the data structure that GOV.UK uses to record analytics.</p>

<p class="govuk-body">Specifically, this is the data that GOV.UK pushes to the dataLayer when events, triggered by JavaScript event listeners occur.</p>

<ul class="govuk-list govuk-list--bullet">
  <% data.analytics.navigation.data.subsections.each do |item| %>
    <li>
      <a href="<%= item.link %>" class="govuk-link"><%= item.name %></a>
    </li>
  <% end %>
</ul>

<p class="govuk-body">These pages do not currently contain information about what happens to the data next. It is collected by Google Tag Manager and sent to Google Analytics.</p>
