<% content_for :title, create_page_title(data.analytics.navigation.docs.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.docs.name %>
</h1>

<p class="govuk-body">This section contains documentation relevant to GOV.UK's dataLayer approach.</p>

<ul class="govuk-list govuk-list--bullet">
  <% data.analytics.navigation.docs.subsections.each do |item| %>
    <li>
      <a href="<%= item.link %>" class="govuk-link"><%= item.name %></a>
    </li>
  <% end %>
</ul>

<p class="govuk-body">Our main documentation source is <a href="https://github.com/alphagov/govuk_publishing_components" class="govuk-link">govuk_publishing_components</a>. This is where <a href="https://github.com/alphagov/govuk_publishing_components/tree/main/app/assets/javascripts/govuk_publishing_components/analytics-ga4" class="govuk-link">our analytics code</a> is located. Read our <a href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/analytics-ga4/analytics.md" class="govuk-link">overview of our GA4 code</a> for more information.</p>
