<% content_for :title, create_page_title(data.analytics.navigation.docs.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.docs.name %>
</h1>

<p class="govuk-body">This section contains documentation relevant to GOV.UK's dataLayer approach.</p>

<ul class="govuk-list govuk-list--bullet">
  <% data.analytics.navigation.docs.subsections.each do |item| %>
    <li>
      <a href="<%= item.link %>" class="govuk-link"><%= item.name %></a>
    </li>
  <% end %>
</ul>

<p class="govuk-body">Further documentation can be found below.</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Documentation relating to the GA4 code on GOV.UK can be found in <a href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/analytics-ga4/analytics.md" class="govuk-link">govuk_publishing_components</a>.</li>
  <li>Documentation for the GOV.UK data community can be found in <a href="https://docs.data-community.publishing.service.gov.uk/" class="govuk-link">Data Services technical documentation</a>.</li>
</ul>
