<% content_for :title, create_page_title(data.analytics.navigation.further_docs.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.further_docs.name %>
</h1>

<p class="govuk-body">We've written some blog posts about our GA4 work.</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <a href="https://insidegovuk.blog.gov.uk/2022/08/24/how-were-preparing-for-the-migration-to-google-analytics-4/" class="govuk-link">How we’re preparing for the migration to Google Analytics 4</a>
  </li>
  <li>
    <a href="https://insidegovuk.blog.gov.uk/2022/11/03/how-gov-uk-is-upgrading-to-google-analytics-4/" class="govuk-link">How GOV.UK is upgrading to Google Analytics 4</a>
  </li>
  <li>
    <a href="https://gds.blog.gov.uk/2023/03/27/sharing-data-and-lessons-from-our-google-analytics-4-upgrade/" class="govuk-link">Sharing data and lessons from our Google Analytics 4 upgrade</a>
  </li>
</ul>