<% content_for :title, create_page_title(data.analytics.navigation.pii.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.pii.name %>
</h1>

<p class="govuk-body">Any data collected by GA4 must be free of Personally identifiable information (PII). This includes, but is not limited to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Email addresses</li>
  <li>Phone numbers</li>
  <li>Postcodes</li>
</ul>

<p class="govuk-body">Each attribute page indicates if an attribute value is PII (Redact=true) and should be processed to redact the PII.</p>

<p class="govuk-body">Read our <a href="https://github.com/alphagov/govuk_publishing_components/blob/main/docs/analytics-ga4/pii-remover.md" class="govuk-link">PII documentation</a> for more information on how we redact PII.</p>
