<% content_for :title, create_page_title(data.analytics.navigation.trackers.name) %>

<h1 class="govuk-heading-l">
  <%= data.analytics.navigation.trackers.name %>
</h1>

<p class="govuk-body">
  <%= data.analytics.navigation.trackers.desc %>
</p>

<ul class="govuk-list govuk-list--bullet">
  <% data.analytics.trackers.sort_by(&:name).each do |tracker| %>
    <li>
      <a href="tracker_<%= urlize(tracker.name) %>.html" class="govuk-link">
        <%= tracker.name %>
      </a>
    </li>
  <% end %>
</ul>
