@import "govuk_tech_docs";

.information-callout {
  padding: govuk-spacing(6);
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(6);
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover {
    color: $govuk-link-hover-colour;
  }

  a:active {
    color: $govuk-link-active-colour;
  }
}

.grid-row {
  @extend %grid-row;
}

.column-third {
  @include grid-column( 1/3 );
}

.column-half {
  @include grid-column( 1/2 );
}

.technical-documentation.full-width {
  max-width: 1024px;
}

.top-tasks {
  background-color: $canvas-colour;
  padding: 0 20px 20px 20px;
}

.technical-documentation {
  .entry-list {
    list-style: none;
    padding-left: 0;
  }
  .entry-list__item {
    margin-top: 0;
    margin-bottom: govuk-spacing(3);
  }
  .entry-list__key {
    display: block;
  }
  @include media(tablet) {
    .entry-list {
      display: table;
    }
    .entry-list__item {
      display: table-row;
    }
    .entry-list__key,
    .entry-list__value {
      display: table-cell;
    }
    .entry-list__key {
      width: 1%;
      white-space: nowrap;
    }
    .entry-list__value {
      width: 100%;
      padding-left: govuk-spacing(6);
    }
  }
}

.visually-hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden
}

.related-content {
  border-top: 1px solid #090909;
  margin: 40px 0 0 0;
  padding: 10px 0 0 0;

  .column-half {
    padding-left: 0;
  }

  ul {
    padding: 0;
  }

  ul li {
    list-style: none;
    padding: 0;
  }
}
