@import "govuk_tech_docs";
@import "modules/search";

.warning {
  padding: 10px;
  margin-top: 40px;
  background-color: $error-background;
  border: 1px solid $error-colour;
  color: $error-colour;
}

.information-callout {
  padding: $gutter;
  margin-top: $gutter;
  margin-bottom: $gutter;
  background-color: $govuk-blue;
  color: $page-colour;

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover {
    color: $link-hover-colour;
  }

  a:active {
    color: $link-active-colour;
  }
}

.grid-row {
  @extend %grid-row;
}

.column-third {
  @include grid-column( 1/3 );
}

.column-half {
  @include grid-column( 1/2 );
}

.technical-documentation.full-width {
  max-width: 1024px;
}

.top-tasks {
  background-color: $canvas-colour;
  padding: 0 20px 20px 20px;
}

.technical-documentation {
  .entry-list {
    list-style: none;
    padding-left: 0;
  }
  .entry-list__item {
    margin-top: 0;
    margin-bottom: $gutter-half;
  }
  .entry-list__key {
    display: block;
  }
  @include media(tablet) {
    .entry-list {
      display: table;
    }
    .entry-list__item {
      display: table-row;
    }
    .entry-list__key,
    .entry-list__value {
      display: table-cell;
    }
    .entry-list__key {
      width: 1%;
      white-space: nowrap;
    }
    .entry-list__value {
      width: 100%;
      padding-left: $gutter;
    }
  }
}

.visually-hidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden
}
