@import "govuk_tech_docs";

.information-callout {
  padding: govuk-spacing(6);
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(6);
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  a:link,
  a:visited {
    color: inherit;
  }

  a:hover {
    color: $govuk-link-hover-colour;
  }

  a:active {
    color: $govuk-link-active-colour;
  }
}

.technical-documentation.full-width {
  max-width: 1024px;
}

.technical-documentation {
  .entry-list {
    list-style: none;
    padding-left: 0;
  }
  .entry-list__item {
    margin-top: 0;
    margin-bottom: govuk-spacing(3);
  }
  .entry-list__key {
    display: block;
  }
  @include govuk-media-query(tablet) {
    .entry-list {
      display: table;
    }
    .entry-list__item {
      display: table-row;
    }
    .entry-list__key,
    .entry-list__value {
      display: table-cell;
    }
    .entry-list__key {
      width: 1%;
      white-space: nowrap;
    }
    .entry-list__value {
      width: 100%;
      padding-left: govuk-spacing(6);
    }
  }
}

.related-content {
  border-top: 1px solid #090909;
  margin-top: 40px;
}

.toc__back-link {
  display: inline-block;
  margin: govuk-spacing(1) 0 govuk-spacing(2) govuk-spacing(1);
}

.technical-documentation > p:first-child {
  margin: govuk-spacing(3) 0 0 0;
}
