<% content_for :sidebar do %>
  <ul>
    <% AppDocs.apps_with_docs.each do |app| %>
    <li>
      <%= sidebar_link app.app_name, "/apps/#{app.app_name}.html" %>
      <ul>
        <% GitHubRepoFetcher.new.docs(app.app_name).each do |page| %>
          <li><%= sidebar_link page[:title], page[:path] %></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
<% end %>

<% wrap_layout :core do %>
  <%= partial 'partials/header' %>
  <%= yield %>
<% end %>
