<% content_for :sidebar do %>
  <ul>
    <li>
      <a href="/apps/by-team.html">
        <span>Application ownership by team</span>
      </a>
    </li>

    <% Applications.active.group_by(&:type).each do |name, apps| %>
      <li>
        <a href="/apps.html">
          <span><%= name %></span>
        </a>
      </li>
      <li>
        <ul class='subnav'>
        <% apps.each do |app| %>
          <li><%= sidebar_link app.app_name, "/apps/#{app.app_name}.html" %></li>
        <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>

<% wrap_layout :core do %>
  <%= partial 'partials/header' %>
  <%= yield %>
<% end %>
