<% content_for :sidebar do %>
  <ul>
    <li><a href='/document-types.html'>Document types</a>
      <ul>
      <% DocumentTypes.pages.each do |page| %>
        <li><%= link_to page.name, "/document-types/#{page.name}.html" %></li>
      <% end %>
      </ul>
    </li>
  </ul>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <%= partial 'partials/header' %>
  <%= yield %>
<% end %>
