<!-- this is forked from govuk_tech_docs because it doesn't have a full-width
template and there are a lot of modifications to the meta tags. Once those are
merged back into the template we can use that. -->
<% wrap_layout :header_footer_only do %>
  <div id="toc-heading" class="toc-show fixedsticky">
    <a href="#toc" class="toc-show__label js-toc-show" aria-controls="toc">
      Table of contents <span class="toc-show__icon"></span>
    </a>
  </div>

  <% html = yield %>

  <div class="app-pane__body">
    <div class="app-pane__toc">
      <div class="toc" data-module="table-of-contents">
        <%= partial "partials/search" %>
        <a href="#" class="toc__close js-toc-close" aria-controls="toc" aria-label="Hide table of contents"></a>
        <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
          <%=
            single_page_table_of_contents(
              html,
              max_level: config[:tech_docs][:max_toc_heading_level]
            )
          %>
        </nav>
      </div>
    </div>

    <div class="app-pane__content toc-open-disabled">
      <main id="content" class="technical-documentation" data-module="anchored-headings">
        <%= html %>
      </main>

      <%= partial "layouts/footer" %>
    </div>
  </div>
<% end %>
