<% wrap_layout :header_footer_only do %>
  <div id="toc-heading" class="toc-show fixedsticky">
    <a href="#toc" class="toc-show__label js-toc-show">
      Table of contents <span class="toc-show__icon"></span>
    </a>
  </div>

  <% html = yield %>

  <div class="app-pane__body" data-module="highlighted-nav">
    <div class="app-pane__toc">
      <div class="toc" data-module="table-of-contents">
        <a href="#" class="toc__close js-toc-close">Close</a>
        <nav  id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading">
          <%= table_of_contents(html) %>
        </nav>
      </div>
    </div>

    <div class="app-pane__content">
      <main id="content" class="technical-documentation" data-module="anchored-headings">
        <%= html %>
      </main>
    </div>
  </div>
<% end %>
