<% html = yield %>

<% content_for :sidebar do %>
  <a href='/opsmanual.html'>&lsaquo; Opsmanual</a>
  <%= table_of_contents html, max_level: 3 %>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <%= html %>

  <div class='meta-links'>
    <%= link_to "Source on GitHub",
      "https://github.com/alphagov/govuk-developer-docs/blob/master/source/#{current_page.path}.md" %>
  </div>
<% end %>
