<div class='warning'>
  This page was set to be reviewed before <%= page_review.review_by %>
  by the page owner: <%= current_page.data.owner_slack %>. This might mean the
  content is out of date. <%= link_to "Read how to review a page", "/manual/review-page.html" %>.
</div>
