<div class="search" data-module="search">
  <form action="https://www.google.co.uk/search" method="get" role="search">
    <input type="hidden" name="as_sitesearch" value="<%= config[:tech_docs][:host] %>"/>
    <label for="tech-docs-search"  class="visually-hidden">Search (via Google)</label>
    <input type="search" id="tech-docs-search" name="q" placeholder="Search (via Google)" class="form-control">
  </form>
</div>
