<div class="search" data-module="search">
  <form action="https://www.google.co.uk/search" method="get" role="search">
    <input type="hidden" name="as_sitesearch" value="<%= config[:tech_docs][:host] %>"/>
    <input type="search" name="q" placeholder="Search" class="form-control" id="docsearch">
  </form>
</div>
