
<div class="meta-links">
  <%= link_to "View source", view_source_url %>
  <%= link_to "Report problem", report_issue_url %>
  <%= link_to "GitHub Repo", "https://github.com/alphagov/govuk-developer-docs" %>
</div>
