<div class="edit-links">
  Something wrong? Something to add?
  <%= link_to "View source on GitHub", current_page.data.source_url %> or
  <%= link_to "edit directly on GitHub", current_page.data.edit_url %>.
</div>
