<div class="meta-links">
  <%= link_to "View source", (locals.key?(:page) ? page.try(:source_url) : false) || current_page.data.source_url || "https://github.com/alphagov/govuk-developer-docs/blob/master/source/#{current_page.file_descriptor[:relative_path]}" %>
</div>
