<ul>
  <% absolute_path = Regexp.new('^([a-z]+://|//)') %>
  <% application.example_published_pages.each do |example| %>
    <% if absolute_path.match(example['link']) %>
      <li><%= link_to example['title'], "#{example['link']}" %></li>
    <% else %>
      <li><%= link_to example['title'], "https://www.gov.uk#{example['link']}" %></li>
    <% end %>
  <% end %>
</ul>
