---
owner_slack: "#govuk-developers"
title: Learn how GOV.UK works
parent: "/manual.html"
layout: manual_layout
section: Learning GOV.UK
last_reviewed_on: 2019-11-05
review_in: 6 months
---

Welcome to GOV.UK! Let's start off by saying that GOV.UK publishing system is quite complex. It can be daunting task to get to know the platform. This page is meant as a starter guide to learning about GOV.UK.

<% manual.manual_pages_about_learning_things.each do |section_name, pages| %>
  <h4 id='<%= section_name.parameterize %>'><%= section_name %></h4>

  <ul>
  <% pages.each do |page| %>
    <li><%= link_to page.data.title, page.url %></li>
  <% end %>
  </ul>
<% end %>
