<%

links = [
  (link_to(repo.production_url.gsub("https://", ""), repo.production_url, class: "govuk-link") if repo.production_url),
  (link_to("Sentry (error tracking)", repo.sentry_url, class: "govuk-link") if repo.sentry_url),
  (link_to("Manage repo", repo.management_url, class: "govuk-link") if repo.management_url),
  (link_to("App dashboard: request rates, errors, durations", repo.dashboard_url, class: "govuk-link") if repo.dashboard_url),
  (link_to("API docs", repo.api_docs_url, class: "govuk-link") if repo.api_docs_url),
  (link_to("Component guide", repo.component_guide_url, class: "govuk-link") if repo.component_guide_url),
  (link_to("Metrics dashboard", repo.metrics_dashboard_url, class: "govuk-link") if repo.metrics_dashboard_url),
  (link_to("Kibana App Logs (Production, last 3 hours)", repo.kibana_url, class: "govuk-link") if repo.kibana_url),
  (link_to("Kibana Worker Logs (Production, last 3 hours)", repo.kibana_worker_url, class: "govuk-link") if repo.kibana_worker_url),
]

links += repo.argo_cd_urls.map do |argo_cd_app_name, argo_cd_url|
  link_to("Argo CD (#{argo_cd_app_name})", argo_cd_url, class: "govuk-link")
end

if links.any?
%>
<ul class="govuk-list">
  <% links.each do |link| %>
    <li><%= link %></li>
  <% end %>
<% end %>
