<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>
      {% if page.title == null %}
        {{ site.name }}
      {% else %}
        {{ page.title }} - {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="container">
      <main id="page-container" role="main">
        <div class="column-full-width">
          <h1 class="page-title">GOV.UK: {{ page.title }}</h1>

          <ul class='navigation'>
            {% for p in site.pages %}
              {% if p.title != nil %}
              <li>
                <a {% if p.url == page.url %}class="active"{% endif %} href="{{ p.path }}">
                  {{ p.title }}
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>

          {{ content }}
        </div>
      </main>
    </div>
    </body>
</html>
