<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>
      {% if page.title == null %}
        {{ site.name }}
      {% else %}
        {{ page.title }} - {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/govuk-template.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  </head>
  <body>
    <div class="container">
      <main id="page-container" role="main">
        <div class="column-full-width">
          <div class='navigation'>
            <a href='{{ site.baseurl }}/index.html'>Applications &amp; development</a> |
            <a href='{{ site.baseurl }}/operations.html'>Operations</a> |
            <a href='{{ site.baseurl }}/document-types.html'>Document types</a>
          </div>

          {{ content }}
        </div>
      </main>
    </div>
    </body>
</html>
