---
layout: false
title: Dev manual
---

<% content_for :sidebar do %>
  <ul>
    <li>
      <a href="/manual.html">Dev manual</a>
    <ul>
    <li>
      <% manual_pages.each do |section, pages| %>
        <li><a href='#'><%= section %></a>
        <ul>
          <% pages.each do |page| %>
            <li><%= link_to page.data.title, page.path %></li>
          <% end %>
        </ul>
        </li>
      <% end %>
    </li>
    </ul>
  </li>
  </ul>
<% end %>

<% wrap_layout :layout_with_sidebar do %>
  <%= partial 'partials/header' %>

  <blockquote>
    <strong>Work in progress</strong><br/><br/>

    We're currently moving <a href='https://github.gds/pages/gds/opsmanual'>
    the opsmanual</a> to this site. Follow along option
    <a href='https://trello.com/b/pWnVP4wF'>on our Trello board</a>.
  </blockquote>
<% end %>
