---
layout: false
title: Operations Manual
---

<% wrap_layout :header_footer_only do %>
  <div class="app-pane__body">
    <div class="app-pane__content">
      <main id="content" class="technical-documentation full-width">
        <%= partial 'partials/header' %>

        <%= partial "partials/search" %>

        <% manual_index_page.columns.each do |column_pages| %>
          <div class='column-third'>
            <% column_pages.each do |section_name, pages| %>
              <% next unless pages.any? %>
              <h4><%= section_name %></h4>
              <ul>
                <% pages.each do |page| %>
                  <li><%= link_to page.data.title, page.path %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
