@include screen {
  .page-title + .search {
    margin-top: $gutter;
  }

  .search {
    @include core-16;
    margin-bottom: $gutter-half;
    height: 40px;

    .form-control {
      @include box-sizing(border-box);
      @include core-19;
      width: 100%;
      padding: 5px 4px 2px;
      border: 2px solid $text-colour;
      -webkit-appearance: none;

      &:focus {
        outline: 3px solid $focus-colour;
        outline-offset: 0;
      }
    }

    // Override to make sure the search box doesn't get overlapped by the content section
    .algolia-autocomplete {
      position: absolute !important;
      z-index: 10000;
    }

    // Default contrast is too low for current selection highlight
    .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
      background-color: $focus-colour;
    }

    // Default contrast is too low for the chapters
    .algolia-autocomplete .algolia-docsearch-suggestion--category-header,
    .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
      color: $text-colour;
    }

    // Default search term highlighting is low contrast and doesn't work with
    // the yellow curreny-highlighting.
    .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
      color: $text-colour;
      text-decoration: underline;
      background: inherit;
    }
  }
}

@include print {
  .search {
    display: none;
  }
}
