on:
  push:
  pull_request:
  schedule:
    # Deploy hourly between 9am and 7pm on weekdays
    - cron: "0 9-19 * * 1-5"
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Clone govuk-content-schemas
        uses: actions/checkout@v2
        with:
          repository: alphagov/govuk-content-schemas
          ref: deployed-to-production
          path: tmp/govuk-content-schemas
      - name: Vale (Markdown linting)
        uses: errata-ai/vale-action@v1.2.0
        with:
          files: source/manual
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - uses: ruby/setup-ruby@v1
      - uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: bundle-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: bundle
      - run: bundle install --jobs 4 --retry 3 --deployment
      - run: bundle exec rake
        env:
          GOVUK_CONTENT_SCHEMAS_PATH: tmp/govuk-content-schemas

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/master' }}
    steps:
      - name: Set commit message up front
        id: commit_message_writer
        run: | # `github.event.number` will be blank if this is a cron
          if [ "${{ github.event.number }}" == "" ]; then
            echo "::set-output name=commit_message::Hourly scheduled redeploy"
          else
            echo "::set-output name=commit_message::Deploy via merge"
          fi
      - uses: actions/checkout@v2
      - name: Clone govuk-content-schemas
        uses: actions/checkout@v2
        with:
          repository: alphagov/govuk-content-schemas
          ref: deployed-to-production
          path: tmp/govuk-content-schemas
      - uses: ruby/setup-ruby@v1
      - uses: actions/cache@v1
        with:
          path: vendor/bundle
          key: bundle-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: bundle
      - run: bundle install --jobs 4 --retry 3 --deployment
      - name: Build 'build' folder ready for deployment
        run: bundle exec rake build
        env:
          GOVUK_CONTENT_SCHEMAS_PATH: tmp/govuk-content-schemas
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
          cname: docs.publishing.service.gov.uk
          commit_message: ${{steps.commit_message_writer.outputs.commit_message}}
